<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConfigTool" value="1"/>
    <add key="userName" value="css\sasalvekar"/>
    <add key="password" value="H0n3yb33!"/>
    <add key="author" value=""/>
    <add key="sourceUrl" value="http://bedcsscmssv01/svn/boneyard/SachinTest/Source/"/>
    <add key="targetUrl" value="http://bedcsscmssv01/svn/boneyard/SachinTest/Target/"/>
    <add key="checkoutPath" value="D:\Sachin\RnD\SVN\SachinTest\Target\"/>
    <add key="logFilePath" value="D:\Sachin\RnD\SVN\SachinTest\ConflictsLog.txt"/>
    
  </appSettings>
</configuration>